body {
  font-size: 1.125rem;
  line-height: 1.1;
  width: 100%;
  font-family: $font-medium;
  letter-spacing: -.02rem;
}

.page_black {
  background-color: $black;
  color: $white;
}

.page_white {
  background-color: $white;
  color: $black;
}